@{
	ViewData["Title"] = "First";
}

<h1>First</h1>
<button id="btn1" class="btn btn-primary">Ajax</button>
<img src="~/images//Hourglass.gif" id="imgLoading" style="display:none" />
<button id="btn2" class="btn btn-danger">停止</button>
<div id="div1" class="alert alert-info"></div>


@section Scripts{
	<script>
		const btn = document.querySelector('#btn1');
		const theDiv = document.querySelector('#div1');
		const imgLoader=document.querySelector('#imgLoading')
		const btnStop = document.querySelector('#btn2');

		let abortController;

		btnStop.addEventListener('click', async () => {
			if (abortController) { 
				abortController.abort();
			}
		})

		btn.addEventListener('click', async () => {
			try {
				imgLoader.style.display = "inline"; //顯示執行中圖式
				btn.setAttribute("disabled", "disabled"); //停用按鈕 (屬性名稱, 屬性值)

				//建立AbortController
				abortController = new AbortController();
				const signal = abortController.signal;

				//5秒未回傳資料自動停止
				setTimeout(() => { 
					abortController.abort();
				},5000)

				//Ajax
				const response = await fetch('@Url.Content("~/api/content")', {signal})
				if (!response.ok) { //not false
					throw new Error(`${response.status}`);
				}
				const data = await response.text();
				theDiv.innerHTML = `<h2>${data}</h2>`
			} catch (err) {
				theDiv.innerHTML = `<h2>${err}</h2>`
			} finally {
				imgLoader.style.display = "none";
				btn.removeAttribute("disabled");
			}
		})


		// btn.addEventListener('click', () => {
		// 	//Ajax
		// 	//console.log(fetch('/api/Content'))
		// 	//promise resolve() reject
		// 	//fetch('/api/Content')
		// 	fetch('@Url.Content("~/api/content")')
		// 		//'~'指向專案根目錄, 但javascript不支援, 須加上@Url.Content()使用
		// 		.then(response => { //收到response物件
		// 			// console.log(response);
		// 			// console.log(response.text()); //promise
		// 			response.headers.forEach((value, name) => {
		// 				console.log(`${name}: ${value}`);
		// 			});
		// 			console.log(response.ok); //程式執行時的狀態
		// 			console.log(response.status); //程式執行時的狀態碼

		// 			return response.text();
		// 		})
		// 		// .then(response => response.text())
		// 		.then(data => { //得到response物件中的data
		// 			//console.log(data);
		// 			theDiv.innerHTML = `${data}`;
		// 		})
		// })

	</script>
}
